<div class="columns is-centered">
    <div class="column is-6">
        <div class="field">
            <label for="" class="label">Usuario</label>
            <div class="control">
                <input [(ngModel)]="selected.nick" type="text" name="" id="" class="input is-large" autofocus>
            </div>
        </div>

        <div class="field">
            <label for="" class="label">Contraseña</label>
            <input [(ngModel)]="selected.pass" type="password" class="input is-large" id="">
        </div>

        <div class="buttons" style="justify-content: flex-end;">
            <button [disabled]="!upt_ready" type="button" (click)="dologin()" class="button is-primary is-large">
                Ingresar
            </button>
        </div>
    </div>
</div>