<div class="limiter">
  <div class="container-login100 text-center">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(assets/img/eps.jpg);"></div>
      <br>
      <h3>EPS</h3>
      <br>
      <form>
        <div class="form-group row justify-content-center">
          <label class="col-3 col-form-label"><b>Nick</b></label>
          <div class="col-6">
            <input style="background: #121212; color: #efa98e;" type="text" class="form-control" placeholder="Usuario"
              required>
          </div>
        </div>
        
        <div class="form-group row justify-content-center">
          <label class="col-3 col-form-label"><b>Contraseña</b></label>
          <div class="col-6">
            <input style="background: #121212; color: #efa98e;" type="password" placeholder="Contraseña"
              class="form-control" required>
          </div>
        </div>

        <br>
        <div class="form-group row justify-content-center">
          <button class="btn" type="submit" style="background: #efa98e;">Entrar</button>
        </div>

      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>