/* You can add global styles to this file, and also import other style files */
.columns{
    align-items: flex-end;
}

ngb-datepicker.dropdown-menu{
    display: inline-block;
    background-color: #fff;
}