<div class="columns" style="align-items: flex-end;">
    <div class="column">
        <div class="field">
            <label class="label">Buscar carnet:</label>
            <div class="control">
                <input (keyup.enter)="dosearch(txtCarnet.value)" #txtCarnet class="input" autofocus>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <button type="button" (click)="dosearch(txtCarnet.value)" class="button is-primary is-fullwidth">
            <span class="icon">
                <i class="fas fa-search"></i>
            </span>
            <span>Buscar</span>
        </button>
    </div>
</div>

<div class="columns">
    <div class="column is-offset-9">
        <a [routerLink]="['/estudiante', 0]" class="button is-fullwidth is-link">
            <span class="icon">
                <i class="fas fa-plus-circle"></i>
            </span>
            <span>
                Nuevo
            </span>
        </a>
    </div>
</div>

<table class="table is-fullwidth is-striped">
    <caption>
        {{list.length}} estudiante(s) de {{body && body.total}} en total
    </caption>
    <thead>
        <tr>
            <th>Carnet</th>
            <th>CUI</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list">
            <td>
                <a [routerLink]="['/estudiante', item.carnet]" class="button is-text">
                    {{item.carnet}}
                </a>
            </td>
            <td>{{item.cui}}</td>
            <td>{{item.nombre}}</td>
        </tr>
    </tbody>
</table>