<div class="control has-text-right">
    <a [routerLink]="['/estudiante']" class="button is-dark">
        <span class="icon">
            <i class="fas fa-times"></i>
        </span>
        <span>Cerrar</span>
    </a>
</div>

<div class="tabs is-boxed">
    <ul>
        <li [routerLink]="['datos']" routerLinkActive="is-active"><a>Datos</a></li>
        <li *ngIf="carnet > 0" [routerLink]="['incorporaciones']" routerLinkActive="is-active"><a>Incorporaciones</a></li>
    </ul>
</div>

<router-outlet></router-outlet>